In [47]:
import pandas as pd 
import numpy as np

In [48]:
subsidy_features=pd.read_csv('input/subsidy_feature.csv')

In [49]:
subsidy_features.head()

   id  money
0   0    0.0
1   1    0.0
2   8    0.0
3   9    0.0
4  10    0.0

In [50]:
score_features=pd.read_csv('input/score_features.csv')

In [51]:
score_features.head()

   id  college  score   num     order
0   0        9      1  2933  0.000341
1   1        9      2  2933  0.000682
2   8        6   1565  1572  0.995547
3   9        6   1570  1572  0.998728
4  10        3      1  2301  0.000435

In [52]:
card_features=pd.read_csv('input/card_features.csv')

In [53]:
card_features.head()

,id,consume,consumesum,consumeavg,consumemax,remaindersum,remainderavg,remaindermax
0,0,628,4997.56,7.833166,200.0,42895.96,67.235047,228.98
1,1,687,6182.69,8.960420,300.0,70664.31,102.412043,302.41
2,6,906,6470.82,7.126454,200.0,101480.65,111.762830,378.27
3,7,1328,12423.77,9.292274,500.0,152957.04,114.403171,529.36
4,8,1330,11472.37,8.625842,200.0,117836.74,88.599053,231.26

In [54]:
library_features=pd.read_csv('input/library_features.csv')

In [55]:
library_features.head()

   id  lib_nums  lib_day_rate
0   0        16      0.053333
1   1         2      0.006667
2   6         5      0.016667
3   7        91      0.303333
4  10         4      0.013333

In [56]:
dorm_features=pd.read_csv('input/dorm_features.csv')

In [57]:
dorm_features.head()

   id  dor_num  dorm_day_rate
0   0      186           0.62
1   1      312           1.04
2   6      186           0.62
3   7      198           0.66
4  10      135           0.45

In [58]:
borrow_features=pd.read_csv('input/borrow_features.csv')

In [59]:
borrow_features.head()

   id  borrow_num  borrow_rate_month
0   6           2           0.166667
1   7          28           2.333333
2  11           4           0.333333
3  20           9           0.750000
4  22           5           0.416667

In [60]:
train_test1=pd.merge(subsidy_features,score_features,how='left',on='id')

In [61]:
train_test2=pd.merge(train_test1,card_features,how='left',on='id')

In [62]:
train_test3=pd.merge(train_test2,library_features,how='left',on='id')

In [63]:
train_test4=pd.merge(train_test3,dorm_features,how='left',on='id')

In [64]:
train_test=pd.merge(train_test4,borrow_features,how='left',on='id')

In [65]:
train_test.head()

,id,money,college,score,num,order,consume,consumesum,consumeavg,consumemax,remaindersum,remainderavg,remaindermax,lib_nums,lib_day_rate,dor_num,dorm_day_rate,borrow_num,borrow_rate_month
0,0,0.0,9.0,1.0,2933.0,0.000341,628.0,4997.56,7.833166,200.0,42895.96,67.235047,228.98,16.0,0.053333,186.0,0.62,NaN,NaN
1,1,0.0,9.0,2.0,2933.0,0.000682,687.0,6182.69,8.960420,300.0,70664.31,102.412043,302.41,2.0,0.006667,312.0,1.04,NaN,NaN
2,8,0.0,6.0,1565.0,1572.0,0.995547,1330.0,11472.37,8.625842,200.0,117836.74,88.599053,231.26,NaN,NaN,NaN,NaN,NaN,NaN
3,9,0.0,6.0,1570.0,1572.0,0.998728,1618.0,14502.91,8.963480,200.0,154265.92,95.343585,237.96,NaN,NaN,NaN,NaN,NaN,NaN
4,10,0.0,3.0,1.0,2301.0,0.000435,847.0,6028.74,7.084301,200.0,52933.27,62.201257,210.74,4.0,0.013333,135.0,0.45,NaN,NaN

In [66]:
train_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21846 entries, 0 to 21845
Data columns (total 19 columns):
id                   21846 non-null int64
money                10885 non-null float64
college              18336 non-null float64
score                18336 non-null float64
num                  18336 non-null float64
order                18336 non-null float64
consume              21806 non-null float64
consumesum           21806 non-null float64
consumeavg           21806 non-null float64
consumemax           21806 non-null float64
remaindersum         21806 non-null float64
remainderavg         21806 non-null float64
remaindermax         21806 non-null float64
lib_nums             16580 non-null float64
lib_day_rate         16580 non-null float64
dor_num              15719 non-null float64
dorm_day_rate        15719 non-null float64
borrow_num           14449 non-null float64
borrow_rate_month    14449 non-null float64
dtypes: float64(18), int64(1)
memory usage: 3.3 MB

In [67]:
train_test['score']=train_test['score'].fillna(train_test['score'].mean())

In [68]:
train_test['num']=train_test['num'].fillna(train_test['num'].mean())

In [69]:
train_test['order']=train_test['order'].fillna(train_test['order'].mean())

In [70]:
train_test['consume']=train_test['consume'].fillna(train_test['consume'].mean())

In [71]:
train_test['consumesum']=train_test['consumesum'].fillna(train_test['consumesum'].mean())

In [72]:
train_test['consumeavg']=train_test['consumeavg'].fillna(train_test['consumeavg'].mean())

In [73]:
train_test['consumemax']=train_test['consumemax'].fillna(train_test['consumemax'].mean())

In [74]:
train_test['remainderavg']=train_test['remainderavg'].fillna(train_test['remainderavg'].mean())

In [75]:
train_test['remaindersum']=train_test['remaindersum'].fillna(train_test['remaindersum'].mean())

In [76]:
train_test['remaindermax']=train_test['remaindermax'].fillna(train_test['remaindermax'].mean())

In [77]:
train_test['dor_num']=train_test['dor_num'].fillna(train_test['dor_num'].mean())

In [78]:
train_test['dorm_day_rate']=train_test['dorm_day_rate'].fillna(train_test['dorm_day_rate'].mean())

In [79]:
train_test['college']=train_test['college'].fillna(method='pad')

In [81]:
train_test['lib_nums']=train_test['lib_nums'].fillna(0)

In [82]:
train_test['lib_day_rate']=train_test['lib_day_rate'].fillna(0)

In [83]:
train_test['borrow_num']=train_test['borrow_num'].fillna(0)

In [84]:
train_test['borrow_rate_month']=train_test['borrow_rate_month'].fillna(0)

In [85]:
train_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21846 entries, 0 to 21845
Data columns (total 19 columns):
id                   21846 non-null int64
money                10885 non-null float64
college              21846 non-null float64
score                21846 non-null float64
num                  21846 non-null float64
order                21846 non-null float64
consume              21846 non-null float64
consumesum           21846 non-null float64
consumeavg           21846 non-null float64
consumemax           21846 non-null float64
remaindersum         21846 non-null float64
remainderavg         21846 non-null float64
remaindermax         21846 non-null float64
lib_nums             21846 non-null float64
lib_day_rate         21846 non-null float64
dor_num              21846 non-null float64
dorm_day_rate        21846 non-null float64
borrow_num           21846 non-null float64
borrow_rate_month    21846 non-null float64
dtypes: float64(18), int64(1)
memory usage: 3.3 MB

In [86]:
train_test.to_csv('input/all_features.csv',index=False)

In [87]:
all_features=pd.read_csv('input/all_features.csv')

In [88]:
all_features.head()

,id,money,college,score,num,order,consume,consumesum,consumeavg,consumemax,remaindersum,remainderavg,remaindermax,lib_nums,lib_day_rate,dor_num,dorm_day_rate,borrow_num,borrow_rate_month
0,0,0.0,9.0,1.0,2933.0,0.000341,628.0,4997.56,7.833166,200.0,42895.96,67.235047,228.98,16.0,0.053333,186.000000,0.620000,0.0,0.0
1,1,0.0,9.0,2.0,2933.0,0.000682,687.0,6182.69,8.960420,300.0,70664.31,102.412043,302.41,2.0,0.006667,312.000000,1.040000,0.0,0.0
2,8,0.0,6.0,1565.0,1572.0,0.995547,1330.0,11472.37,8.625842,200.0,117836.74,88.599053,231.26,0.0,0.000000,270.726573,0.902422,0.0,0.0
3,9,0.0,6.0,1570.0,1572.0,0.998728,1618.0,14502.91,8.963480,200.0,154265.92,95.343585,237.96,0.0,0.000000,270.726573,0.902422,0.0,0.0
4,10,0.0,3.0,1.0,2301.0,0.000435,847.0,6028.74,7.084301,200.0,52933.27,62.201257,210.74,4.0,0.013333,135.000000,0.450000,0.0,0.0