In [1]:
import numpy as np
import pandas as pd

In [2]:
borrow_train_name=['id','borrow_date','book_name','book_num']

In [3]:
borrow_train=pd.read_table('train/borrow_train.txt',sep=',',header=None,names=borrow_train_name)

In [4]:
borrow_train.head()

,id,borrow_date,book_name,book_num
0,9708,2014/2/25,我的英语日记 wo de ying yu ri ji / (韩)南银英著 (韩)卢炫廷插图,H315 502
1,6956,2013/10/27,解读联想思维 jie du lian xiang si wei : 联想教父柳传志,K825.38=76 547
2,23939,2015/3/8,电路分析 dian lu fen xi 刘健主编,TM133-43 56
3,22047,2014/12/29,现代物流学 xian dai wu liu xue = Contemporary logis...,F252 161
4,9076,2014/3/28,"公司法 gong si fa = = Corporation law / 范健, 王建文著 eng",NaN

In [5]:
borrow_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227328 entries, 0 to 227327
Data columns (total 4 columns):
id             227328 non-null int64
borrow_date    227328 non-null object
book_name      227328 non-null object
book_num       208583 non-null object
dtypes: int64(1), object(3)
memory usage: 6.9+ MB

In [6]:
borrow_test_name=['id','borrow_date','book_name','book_num']

In [7]:
borrow_test=pd.read_table('final_test/borrow_final_test.txt',sep=',',header=None,names=borrow_test_name)

In [8]:
borrow_train_test=pd.concat([borrow_train,borrow_test])

In [9]:
borrow_book=pd.DataFrame(borrow_train_test.groupby('id')['book_name'].count())

In [10]:
borrow_book.head()

    book_name
id
6           2
7          28
11          4
20          9
22          5

In [11]:
borrow_book.to_csv('input/borrow_num.csv',index=True)

In [12]:
borrow_book=pd.read_csv('input/borrow_num.csv')

In [13]:
borrow_book.columns=['id','borrow_num']

In [14]:
borrow_book.head()

   id  borrow_num
0   6           2
1   7          28
2  11           4
3  20           9
4  22           5

In [15]:
borrow_book['borrow_rate_month']=borrow_book['borrow_num']/12.0

In [17]:
borrow_book.head()

   id  borrow_num  borrow_rate_month
0   6           2           0.166667
1   7          28           2.333333
2  11           4           0.333333
3  20           9           0.750000
4  22           5           0.416667

In [16]:
borrow_book.to_csv('input/borrow_features.csv',index=False)