In [37]:
import numpy as np
import pandas as pd

In [38]:
card_train_name=['id','consume','where','how','time','amount','remainder']

In [39]:
card_train=pd.read_table('train/card_train.txt',sep=',',header=None,names=card_train_name)

In [40]:
card_test_name=['id','consume','where','how','time','amount','remainder']

In [41]:
card_test=pd.read_table('final_test/card_final_test.txt',sep=',',header=None,names=card_test_name)

In [42]:
card_train_test=pd.concat([card_train,card_test])

In [43]:
card_train_test.head()

     id consume  where how                 time  amount  remainder
0  1006   POS消费  地点551  淋浴  2013/09/01 00:00:32    0.50     124.90
1  1006   POS消费  地点551  淋浴  2013/09/01 00:00:32    0.50     124.90
2  1968   POS消费  地点159  淋浴  2013/09/01 00:00:39    0.10     200.14
3  1968   POS消费  地点159  淋浴  2013/09/01 00:00:39    0.10     200.14
4  1406   POS消费  地点660  开水  2013/09/01 00:00:40    0.01     374.42

In [44]:
card=pd.DataFrame(card_train_test.groupby('id')['consume'].count())

In [45]:
card['consumesum']=card_train_test.groupby('id')['amount'].sum()

In [46]:
card['consumeavg'] = card_train_test.groupby(['id'])['amount'].mean()

In [47]:
card['consumemax'] = card_train_test.groupby(['id'])['amount'].max()

In [48]:
card['remaindersum'] = card_train_test.groupby(['id'])['remainder'].sum()

In [49]:
card['remainderavg'] = card_train_test.groupby(['id'])['remainder'].mean()

In [50]:
card['remaindermax'] = card_train_test.groupby(['id'])['remainder'].max()

In [51]:
card.to_csv('input/card_features.csv',index=True)

In [52]:
card_features=pd.read_csv('input/card_features.csv')

In [54]:
card_features.head()

,id,consume,consumesum,consumeavg,consumemax,remaindersum,remainderavg,remaindermax
0,0,628,4997.56,7.833166,200.0,42895.96,67.235047,228.98
1,1,687,6182.69,8.960420,300.0,70664.31,102.412043,302.41
2,6,906,6470.82,7.126454,200.0,101480.65,111.762830,378.27
3,7,1328,12423.77,9.292274,500.0,152957.04,114.403171,529.36
4,8,1330,11472.37,8.625842,200.0,117836.74,88.599053,231.26