In [1]:
import pandas as pd
import numpy as np

In [3]:
score_train_name=['id','college','score']

In [4]:
score_train=pd.read_table('train/score_train.txt',sep=',',header=None,names=score_train_name)

In [5]:
score_test_name=['id','college','score']

In [6]:
score_test=pd.read_table('final_test/score_final_test.txt',sep=',',header=None,names=score_test_name)

In [7]:
score_test.head()

      id  college  score
0  26282        6   1563
1  10082        6   1564
2  13408        4      5
3  30425        4      8
4  11488        8   2233

In [8]:
score_train_test=pd.concat([score_train,score_test])

In [9]:
college=pd.DataFrame(score_train_test.groupby('college')['score'].max())

In [10]:
college.head()

         score
college
1          369
2          396
3         2301
4         2418
5         2782

In [11]:
college.to_csv('input/score.csv',index=True)

In [12]:
college=pd.read_csv('input/score.csv')

In [13]:
college.columns=['college','num']

In [14]:
college.head()

   college   num
0        1   369
1        2   396
2        3  2301
3        4  2418
4        5  2782

In [15]:
score_train_test=pd.merge(score_train_test,college,how='left',on='college')

In [16]:
score_train_test.head()

   id  college  score   num
0   0        9      1  2933
1   1        9      2  2933
2   8        6   1565  1572
3   9        6   1570  1572
4  10        3      1  2301

In [17]:
score_train_test['order']=score_train_test['score']/score_train_test['num']

In [18]:
score_train_test.head()

   id  college  score   num     order
0   0        9      1  2933  0.000341
1   1        9      2  2933  0.000682
2   8        6   1565  1572  0.995547
3   9        6   1570  1572  0.998728
4  10        3      1  2301  0.000435

In [19]:
score_train_test.to_csv('input/score_features.csv',index=False)

In [20]:
score_features=pd.read_csv('input/score_features.csv')

In [21]:
score_features.head()

   id  college  score   num     order
0   0        9      1  2933  0.000341
1   1        9      2  2933  0.000682
2   8        6   1565  1572  0.995547
3   9        6   1570  1572  0.998728
4  10        3      1  2301  0.000435